.itemContatc {
    width: 250px;
    height: 130px;
    border: 1px solid #5f5fc3;
    border-radius: 15px;
    margin: 10px 5px 5px 10px;
    display: inline-block;
}

    .itemContatc:hover {
        background-color: #e3e3f3;
    }

    .itemContatc > .row {
        position: relative;
        display: flex;
        margin: 5px 5px 10px 5px;
    }

    .itemContatc > .row > .btnDeleteContact {
        color: #f44336;
        position: absolute;
        right: 10px;
        cursor: pointer;
    }

    .itemContatc > .row > .circleLetter {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #5f5fc3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .itemContatc > .row > .circleLetter > label {
            font-weight: bold;
            font-size: 20px;
            color: #fff;
        }

    .itemContatc > .row > i {
        color: #999;
        margin-left: 20px;
    }

    .itemContatc > .row > label {
        font-size: 15px;
        font-weight: bold;
        border-bottom: 1px solid #999;
        margin-left: 10px;
        width: 75%;
    }