.backdrop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: opacity .05s cubic-bezier(0.4,0.0,0.2,1);
    transition: opacity .05s cubic-bezier(0.4,0.0,0.2,1);
}

.modalNewContact {
    width: 300px;
    height: 200px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #e6e2e2;
    border-radius: 5px;
    z-index: 3;
    color: #999;
}

.headerNewContact {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d2d2d2;
}

    .headerNewContact > .spnTitle {
        margin-left: 5px;
        font-size: 18px;
        font-weight: bold;
        cursor: default;
    }

    .headerNewContact > .btnCloseModal {
        color: #f44336;
        position: absolute;
        right: 10px;
        cursor: pointer;
    }

        .headerNewContact > .btnCloseModal:focus {
            outline: none;
        }

.formNewContact {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid #d2d2d2;
    padding: 0 10px;
}

    .formNewContact > .row {
        display: flex;
        justify-content: center;
    }

        .formNewContact > .row > input[type=text] {
            width: 85%;
            border-left: 0px;
            border-top: 0px;
            border-right: 0px;
            margin-left: 15px;
        }

            .formNewContact > .row > input[type=text]:focus {
                outline: none;
            }

.footerNewContact {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border:0px;
}

    .footerNewContact > .btn {
        width: 60px;
        height: 25px;
        background: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        margin: 0 5px 0 0;
        border:0px;
        cursor: pointer;
    }

        .footerNewContact > .btn:focus {
            outline: none;
        }

    .footerNewContact > .btnSaveContact {       
        color: #009933;
    }

        .footerNewContact > .btnSaveContact:hover {
            background:#e6ffe6;
        }

    .footerNewContact > .btnCancel {
        color: #ff0000;
    }

    .footerNewContact > .btnCancel:hover {
        background:#ffe6e6;        
    }